In [1]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline

In [2]:
df = pd.read_csv('./data.csv')
sample_submission = pd.read_csv('./sample_submission.csv')

In [3]:
print('Data shape is :', df.shape)

Data shape is : (30697, 25)

In [4]:
train = df[df['shot_made_flag'].notna()]
test = df[df['shot_made_flag'].isna()]

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25697 entries, 1 to 30696
Data columns (total 25 columns):
action_type           25697 non-null object
combined_shot_type    25697 non-null object
game_event_id         25697 non-null int64
game_id               25697 non-null int64
lat                   25697 non-null float64
loc_x                 25697 non-null int64
loc_y                 25697 non-null int64
lon                   25697 non-null float64
minutes_remaining     25697 non-null int64
period                25697 non-null int64
playoffs              25697 non-null int64
season                25697 non-null object
seconds_remaining     25697 non-null int64
shot_distance         25697 non-null int64
shot_made_flag        25697 non-null float64
shot_type             25697 non-null object
shot_zone_area        25697 non-null object
shot_zone_basic       25697 non-null object
shot_zone_range       25697 non-null object
team_id               25697 non-null int64
team_name             25697 non-null object
game_date             25697 non-null object
matchup               25697 non-null object
opponent              25697 non-null object
shot_id               25697 non-null int64
dtypes: float64(3), int64(11), object(11)
memory usage: 5.1+ MB

In [13]:
df[['minutes_remaining', 'seconds_remaining']]

       minutes_remaining  seconds_remaining
0                     10                 27
1                     10                 22
2                      7                 45
3                      6                 52
4                      6                 19
5                      9                 32
6                      8                 52
7                      8                  5
8                      6                 12
9                      3                 36
10                     1                 56
11                    11                  0
12                     7                  9
13                     2                 44
14                     1                 16
15                     0                 48
16                     0                  1
17                     8                 50
18                    11                 29
19                    10                 46
20                    10                  8
21                     9                  4
22                     7                 57
23                     5                 47
24                     5                 11
25                     2                 36
26                     2                  4
27                     0                 30
28                     8                 19
29                     6                 22
...                  ...                ...
30667                  9                 33
30668                  7                 27
30669                  3                 48
30670                  9                 34
30671                  8                 51
30672                  8                  9
30673                  7                 14
30674                  2                 34
30675                  2                  0
30676                  0                 37
30677                  0                  1
30678                  3                 34
30679                  0                 41
30680                  0                 40
30681                  0                  2
30682                 11                 30
30683                 10                 51
30684                 10                 16
30685                  7                 31
30686                  5                 37
30687                  3                 18
30688                  1                  7
30689                  0                  0
30690                 11                 37
30691                  7                  4
30692                  6                  5
30693                  6                  5
30694                  3                 28
30695                  2                 10
30696                  0                 39

[30697 rows x 2 columns]

In [65]:
import datetime
dt = pd.date_range('2018-12-30', periods=70, freq='D')

In [66]:
weekday = [dt[i].weekday() for i in range(len(dt))]

In [67]:
dfx = pd.DataFrame({'date': dt, 'weekday': weekday})

In [68]:
dfx = dfx.loc[dfx['weekday'] == 6]

In [69]:
dfx['start_date'] = dfx['date'].apply(lambda x: x.strftime('%Y-%m-%d'))
dfx['end_date'] = dfx['date'].apply(lambda x: x + datetime.timedelta(days=6))

In [70]:
dfx['end_date'] = dfx['end_date'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [71]:
dfx.drop(['date', 'weekday'], axis=1, inplace=True)

In [76]:
start_dates = dfx['start_date'].values
end_dates = dfx['end_date'].values

In [87]:
import pymysql
con = pymysql.connect(host='rm-wz9aahp68p849o3s2zo.mysql.rds.aliyuncs.com', user='zhoukai',passwd='locals_zhoukai',db='locals_production',charset='utf8')
sql = """
select h.house_no, hw.create_time from locals_production.prod_house_source_locals h 
left join
(select house_source_locals_id,create_time from
	(select * from locals_production.prod_house_source_locals_workflow_log where after_work_flow_status=5 order by create_time) 
	a group by house_source_locals_id) hw on h.id=hw.house_source_locals_id
where h.house_no<>'' and not isnull(hw.create_time)
"""
df = pd.read_sql(sql, con)
con.close()

In [90]:
from sqlalchemy import create_engine
yconnect = create_engine('mysql+mysqldb://root:Locals@smartbi666@120.79.47.122:3306/locals_report?charset=utf8')
pd.io.sql.to_sql(df, 'xxx', yconnect, schema='locals_report', if_exists='replace', index=False)

/home/kainchow/.local/lib/python3.6/site-packages/sqlalchemy/engine/default.py:536: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 481")
  cursor.execute(statement, parameters)